## Stage C Graded Qiuz Codes

In [1]:
#importing the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# import food production dataset

food_prod = pd.read_csv('Africa Food Production (2004 - 2013).csv')
food_prod.head()

   Country                Item  Year  Value
0  Algeria  Wheat and products  2004   2731
1  Algeria  Wheat and products  2005   2415
2  Algeria  Wheat and products  2006   2688
3  Algeria  Wheat and products  2007   2319
4  Algeria  Wheat and products  2008   1111

In [8]:
# import food supply dataset

food_supply = pd.read_csv('Africa Food Supply (2004 - 2013).csv')
food_supply.head()

   Country  Year  Value
0  Algeria  2004   2987
1  Algeria  2005   2958
2  Algeria  2006   3047
3  Algeria  2007   3041
4  Algeria  2008   3048

### Question 1: Which country produced the highest amounts of oats in 2010?

In [7]:
# country with highest oat production in 2010

oat_prod2010 = food_prod.loc[(food_prod['Item']=='Oats') & (food_prod['Year'] == 2010), food_prod.columns]
oat_prod2010 = oat_prod2010.sort_values('Value', axis=0, ascending=False)
oat_prod2010.head()

            Country  Item  Year  Value
46          Algeria  Oats  2010     88
6406       Ethiopia  Oats  2010     48
13186       Morocco  Oats  2010     37
17816  South Africa  Oats  2010     34
9286          Kenya  Oats  2010      3

### Question 2: Which countries respectively has the lowest food supply between 2004 and 2006 (inclusively)?

In [10]:
# countries with lowest food supply between 2004 and 2006 

food_supply['Year'] = food_supply['Year'].astype(str)
supply_2004 = food_supply.loc[food_supply['Year'] == '2004', ['Country','Year','Value']]
supply_2005 = food_supply.loc[food_supply['Year'] == '2005']
supply_2006 = food_supply.loc[food_supply['Year'] == '2006']

countries_supply = [supply_2004,supply_2005,supply_2006]
countries_supply = pd.concat(countries_supply)
countries_supply = countries_supply.groupby(['Country'],as_index=False).sum()
countries_supply.sort_values('Value', axis=0, inplace=True)
countries_supply.head(3)

                     Country  Value
43                    Zambia   5577
13                  Ethiopia   5827
7   Central African Republic   6044

### Question 3: Which of the following represents  the datapoints that lie outside the middle 50% in a sample of numbers?

In [17]:
# ANSWER: WHISKERS

### Question 4: Beacause the median is not affected as much by the presence of extremely large or small numbers, it tends to give a better idea of about a dataset than the mean does. TRUE, FALSE or UNCERTAIN?

In [18]:
# ANSWER: TRUE

### Qusetion 5: What three countries have produced the highest total quantity of rice rom 2004 to 2013?

In [15]:
# countries with the highest rice production between 2004 to 2013

rice_prod = food_prod.loc[food_prod['Item']=='Rice (Milled Equivalent)',['Country','Value']]
rice_prod = rice_prod.groupby('Country', as_index=False).sum()
rice_prod.sort_values('Value',axis=0, inplace=True, ascending=False)
rice_prod.head(3)

       Country  Value
9        Egypt  40370
26     Nigeria  26964
18  Madagascar  26118